<div class="sidebar bg-dark">
    <ul class="list-unstyled">
        <li><a href="#"><i class="fa fa-fw fa-home"></i> Home</a></li>
        <li><a href="#"><i class="fa fa-fw fa-baseball"></i> {{ title }}</a></li>
        <li>
            <a href="#submenu1" data-toggle="collapse"><i class="fa fa-fw fa-clipboard-list"></i> Player Stats</a>
            <ul id="submenu1" class="list-unstyled collapse">
                {% for link in link_data.sub_links %}
                    <li><a href="{{ link_data.sub_link_pre }}{{ link }}">{{ link.name }}</a></li>
                {% endfor %}

            </ul>
        </li>
    </ul>
</div>