<!-- extend base layout -->
{% extends "layouts/main.html" %}

{% block content %}


{# Player Stats Links #}
<div class="row">
    <div class="col-lg">
        <h2>Player Stats</h2>
    </div>
</div>

<div class="row">

    <div class="col-lg">

        <table class="table">

        {% for player in players %}

            <tr class="">
                <th class="col-lg">
                    {{ player.position }} <a href="/player_dashboard/{{ player.id }}">{{ player.name }}</a>
                </th>

            </tr>

        {% endfor %}

        </table>
    </div>
</div>

{% endblock %}