<!-- extend base layout -->
{% extends "layouts/main.html" %}

{% block content %}

<div class="container-fluid">

{# Overall status #}
    <div class="row">
        <div class="col-lg"></div>
    </div>



{# Table of results #}
    <div class="row">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Measure</th>
                    <th scope="col">All-Time</th>
                    <th scope="col">Last 60 Days</th>
                    <th scope="col">Trend</th>
                </tr>
            </thead>
{# Table body, one table row for each measure #}
            <tbody id="measures">

            {% for measure in measures %}

                <tr>
                    <th scope="row">👍</th>
                    <td>{{ measure.name }}</td>
                    <td>{{ measure.overall }}%</td>
                    <td>{{ measure.recent }}%</td>
                    <td>
                        {% if measure.recent > measure.overall %}
                            ↗️
                        {% endif %}
                        {% if measure.recent < measure.overall %}
                            ↘️
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

</div>


{% endblock %}
