<!-- extend base layout -->
{% extends "layouts/main.html" %}

{% block content %}

<div class="container-fluid">

{# Header #}
    <div class="row">
        <div class="col-lg">
            <h2>{{ player['name'] }}</h2>
        </div>
    </div>

{# Overall status #}
    <div class="row">
        <div class="col-lg"></div>
    </div>



{# Table of results #}
    <div class="row">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Stat</th>
                    <th scope="col">Career</th>
                    <th scope="col">This Season</th>
                    <th scope="col">Trend</th>
                </tr>
            </thead>
{# Table body, one table row for each stat #}
            <tbody id="stats">

            {% for stat in player['stats'] %}

                <tr>
                    <th scope="row">{{ stat }}</th>
                    <td>{{ player['stats'][stat]['career'] }}%</td>
                    <td>{{ player['stats'][stat]['season'] }}%</td>
                    <td>
                        {% if player['stats'][stat]['season'] > player['stats'][stat]['career'] %}
                            <i class="fa fa-fw fa-arrow-up"></i>
                        {% endif %}
                        {% if player['stats'][stat]['season'] < player['stats'][stat]['career'] %}
                            <i class="fa fa-fw fa-arrow-down"></i>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

</div>


{% endblock %}
