<!-- extend base layout -->
{% extends "layouts/main.html" %}

{% block content %}

<div class="container-fluid">


{# Player Stats Links #}
<div class="row">
    <div class="col-lg">
        <h2>Player Stats</h2>
    </div>
</div>

<div class="row">

    <div class="col-lg">

        <table class="table">

        {% for player in players|sort %}

            <tr class="">
                <th class="col-lg">
                    {{ players[player]['position'] }} <a href="/player_dashboard/{{ player }}">{{ players[player]['name'] }}</a>
                </th>

            </tr>

        {% endfor %}

        </table>
    </div>
</div>

</div>

{% endblock %}